.presentation-presentation {
  width: 100%;
  height: 100%;
  background: black;
  display: grid;
  place-items: center;
  canvas {
    cursor: default !important;
  }
}

.presentation-overlays {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .presentation-overlay {
    height: 100%;
    &:first-child {
      flex: 0 0 40%;
      &:hover {
        cursor: url("/left-pointer-shadow.svg") 8 10, nw-resize;
      }
    }
    &:last-child {
      flex: 0 0 60%;
      &:hover {
        cursor: url("/right-pointer-shadow.svg") 32 10, ne-resize;
      }
    }
  }
}
